<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ filename }}</title>

        <meta name="twitter:card" content="image">
        <meta name="twitter:title" content="{{ filename }}">
        <meta name="twitter:image" content="{{ rawurlfull }}">
    </head>
    <body>
        <h1>{{ filename }}</h1>
        <img src="{{ rawurl }}" alt="{{ filename }}">
        <br>
        Created by <a href="https://github.com/bentettmar">Ben Tettmar</a>.<br>
        Source code for this project: <a href="https://github.com/bentettmar/flask-image-uploader">github.com/bentettmar/flask-image-uploader</a>
    </body>
</html>